.green-color {
  color: $green;
}
.blue-color {
  color: $blue;
}
.yellow-color {
  color: $yellow;
}
.red-color {
  color: $red;
}
.purple-color {
  color: $purple;
}
.black-color {
  color: $black;
}
.white-color {
  color: $white;
}

.green-bg {
  background-color: $green;
}
.blue-bg {
  background-color: $blue;
}
.yellow-bg {
  background-color: $yellow;
}
.red-bg {
  background-color: $red;
}
.purple-bg {
  background-color: $purple;
}
.black-bg {
  background-color: $black;
}
.white-bg {
  background-color: $white;
}
